<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapMoo"
        tools:targetApi="31">
        <activity
            android:name=".ui.report.detail.DetailReportActivity"
            android:label="Detail Report"
            android:exported="false" />
        <activity
            android:name=".ui.profile.edit_password.EditPasswordActivity"
            android:exported="false"
            android:label="Edit Password" />
        <activity
            android:name=".ui.profile.edit_profile.EditProfileActivity"
            android:exported="false"
            android:label="Edit Profile" />
        <activity
            android:name=".ui.scan.scan_result.ScanResultActivity"
            android:label="Result"
            android:exported="false" />
        <activity
            android:name=".ui.profile.setting.SettingActivity"
            android:exported="false"
            android:label="Setting" />
        <activity
            android:name=".ui.news.detail_news.DetailNewsActivity"
            android:exported="false"
            android:label="Detail News" />
        <activity
            android:name=".ui.profile.bookmark.BookmarkActivity"
            android:exported="false"
            android:label="Bookmark" />
        <activity
            android:name=".ui.profile.history.HistoryActivity"
            android:exported="false"
            android:label="History" />
        <activity
            android:name=".ui.home.udder.UdderActivity"
            android:exported="false"
            android:label="Udder" />
        <activity
            android:name=".ui.home.mouth.MouthActivity"
            android:exported="false"
            android:label="Mouth" />
        <activity
            android:name=".ui.home.foot.FootActivity"
            android:exported="false"
            android:label="Foot" />
        <activity
            android:name=".ui.scan.send_report.SendReportActivity"
            android:exported="false"
            android:label="Create Report" />
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash_screen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>